@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark,.dark *));

@theme inline {

    --shadow-aceternity:
    0px 2px 3px -1px rgba(0,0,0,0.1),
    0px 1px 0px 0px rgba(25,28,33,0.02),
    0px 0px 0px 1px rgba(25,28,33,0.08);

    --shadow-dark-aceternity:
    0px 2px 3px -1px #404040,
    0px 1px 0px 0px #404040,
    0px 0px 0px 1px #404040;

    --inner-shadow:
    inset 0 2px 4px 0 #f5f5f5,    /* top */
    inset 0 -2px 4px 0 #f5f5f5,   /* bottom */
    inset 0.5px 0 1px 0 #f5f5f5,    /* left */
    inset -0.5px 0 1px 0 #f5f5f5;    /* right */

    --inner-dark-shadow:
    inset 0 2px 4px 0 #0a0a0a,    /* top */
    inset 0 -2px 4px 0 #0a0a0a,   /* bottom */
    inset 0.5px 0 1px 0 #0a0a0a,    /* left */
    inset -0.5px 0 1px 0 #0a0a0a;    /* right */

    --pattern-light: repeating-linear-gradient(
        -45deg,
        transparent 0px,
        transparent 7px,
        #e5e5e5 7px,
        #e5e5e5 8px
    );

    --pattern-dark: repeating-linear-gradient(
        -45deg,
        transparent 0px,
        transparent 7px,
        #262626 7px,
        #262626 8px
    );

    --color-primary:var(--color-neutral-800);
    --color-secondary:var(--color-neutral-500);
}